<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Employment Details</title>
</head>
<body>
<h2>Employment Details</h2>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Employee ID</th>
    <th>Job Title</th>
    <th>Department</th>
    <th>Start Date</th>
    <th>Termination Date</th>
    <th>Contract Type</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="detail : ${employment}">
    <td th:text="${detail.id}">placeholder</td>
    <td th:text="${detail.employeeId}">placeholder</td>
    <td th:text="${detail.jobTitle}">placeholder</td>
    <td th:text="${detail.department}">placeholder</td>
    <td th:text="${detail.startDate}">placeholder</td>
    <td th:text="${detail.terminationDate}">placeholder</td>
    <td th:text="${detail.contractType}">placeholder</td>
    <!-- Update link -->
<!--    <td>-->
<!--      <a th:href="@{/PHPHPH( id = ${detail.staff.id})}">Edit</a>-->
<!--    </td>-->
  </tr>
  </tbody>
</table>
</body>
</html>